@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&family=Hammersmith+One&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}